$border-radius: 8px;
$border-color: grey;
$header-background-color:#000060;
$header-font-color:white;
$phone-width: 768px;

@mixin centered($width){
	width:$width;
	margin-left:(100% - $width) / 2;
	margin-right:(100% - $width) / 2
}

@mixin bordered($color){
	border-style: solid;
    border-width: 1px;
	border-color:$color;
}

@mixin shadow($h-shadow, $v-shadow, $blur, $color){
	box-shadow: $h-shadow $v-shadow $blur $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
	font-family:Arial, Helvetica, sans-serif;
}

html, body { height: 100%; min-height: 100%; }


.navigation{
	background-color:$header-background-color;
	height: auto; 
	min-height: 12%; 
	
	max-width: 100%;
	width:100vw;
	color:$header-font-color;
	@include shadow(0px, 1px, 10px, #888888);
	.nav-content{
		@include centered(80%);
		font-size:1.5em;
		padding-top:20px;
		.controls{
			float:right;
			
		}
		.navbar{
			margin-bottom:0px;
		}
		
	}
}

.header{
	@include centered(100%);
	height:60px;
	box-sizing: border-box;
	border-radius: $border-radius;
	@include bordered($border-color);
	padding-bottom:10px;
	margin-top:10px;
	*{
		padding:10px;
		box-sizing: border-box;
		float:left;
		height:100%;
		font-size:1.5em;
	}
	.name{
		width:40%;	
		padding:10px;
	}
	.status{
		width:30%;
		padding:10px;
	}
	.controls{
		width:30%;
		padding:10px;
		a{
			font-size:1em;
		}
	}
	
}

.appointments{
	border-radius: $border-radius;
	@include bordered($border-color);
	min-height:120px;
	margin-bottom:10px;
	padding-bottom:10px;
	display:flex;
	height:auto;
	
	
	.next{
		//float:left;
		//background-color:#E3E3E3;
		min-height:100px;
		padding:10px;
		width:40%;
		.title{
			padding-left: 15px;
			padding-right: 15px;
			font-size:1.5em;
		}
		.alert{
			margin-left:15px;
			width:auto;
			text-align: center;
			float:left;
		}
		.date{
			float:left;
			padding: 15px;
		}
	}
	.previous{
		//float:left;
		//background-color:#E3E3E3;
		min-height:100px;
		padding:10px;
		width:60%;
		.title{
			padding-left: 15px;
			padding-right: 15px;
			font-size:1.5em;
		}
		.date{
			padding: 15px;
		}
	}
}

.medical-history{
	.title{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom:10px;
		font-size:1.5em;
	}
	
	accordion{
		.panel-group{
			.panel{
				*{
					text-decoration:none;
					outline: 0;
				}
				.panel-heading{
					.panel-title{
						& > a{
							& > span{
								display:block;
								width:100%;
							}
						}
					}
				}
			}
		}
	}
	.list{
		margin-top:20px;
	}

}

.family-history{
	.title{
		padding-left: 15px;
		padding-right: 15px;
		font-size:1.5em;
	}
}

.content{
	@include centered(80%);
	height: auto; 
	min-height: 88%; 
	display: inline-block;
	

	.leftColumn{
		width:20%;
		float:left;
		padding-left:0px;
		padding-top:5px;
		/*
		*{
			border-radius: $border-radius;
			@include bordered($border-color);
			margin-bottom:5px;
		}
		*/
		

	}
	.rightColumn{
		width:80%;
		float:left;
		padding-left:5px;
		padding-top:5px;
		/**{
			border-radius: $border-radius;
			@include bordered($border-color);
			margin-bottom:5px;
		}*/
		.row{
			border-radius: $border-radius;
			@include bordered($border-color);
			margin:0;
			margin-bottom:5px;
			padding:5px;
		box-sizing: border-box;
		}

	}
}

.id-card{
	.row{
		border-radius: $border-radius;
		@include bordered($border-color);
		margin:0;
		margin-bottom:5px;
		padding:5px;
		box-sizing: border-box;
		background-color:white;
		table.personal-info{
			@include centered(90%);
			tr{
				border-bottom-style: solid;
				border-width: 1px;
				td{
					margin-top:10px;
				}
			}
			.title{
				font-weight:bold;
				max-width:60%;
				display:block;
				word-wrap: break-word;
			}
		}
	}
	
	.photo{
		max-width: 300px;
		display:block;
		img{
			width:100%;
		}
	}
}

.footer{
	background-color:$header-background-color;
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    
    color:$header-font-color;

	@include shadow(0px, -1px, 10px, #888888);
	.footer-content{
		@include centered(80%);
		padding-top:10px;
	}
}

@media screen and (max-width: $phone-width) {

	.navigation{
		.nav-content{
			.controls{
				display:none;
			}
			.navbar{
				margin-bottom:0px;
			}
		}
	}
		
	
	.header{

		*{
			font-size:1em;
		}
		.name{
			width:40%;	
			padding:20px;
		}
		.status{
			width:30%;
			padding:20px;
		}
		.control{
			width:30%;
			padding:20px;
		}
		
	}

	.content{
		.leftColumn{
			padding:0px;
			padding-top:5px;
			width:100%;
			float:none;
			.row{
				@include centered(98%);
			}
		}
		.rightColumn{
			padding:0px;
			padding-top:5px;
			width:100%;
			float:none;
			.row{
				@include centered(98%);
			}
		}
	}
	
	
	.appointments{
		display:inline-block;
		@include centered(98%);
		.next{
			clear:both;
			width:100%;

			.title{
				padding-left: 15px;
				padding-right: 15px;
				font-size:1.5em;
			}
			.alert{
				margin-left:15px;
				width:auto;
				text-align: center;
				float:left;
			}
			.date{
				float:left;
				padding: 15px;
			}
		}
		.previous{
			clear:both;
			width:100%;

			.title{
				padding-left: 15px;
				padding-right: 15px;
				font-size:1.5em;
			}
			.date{
				padding: 15px;
			}
		}
	}

	.footer{
		
	}
	
}


table.table-hover{
	tbody{
		tr{
			cursor:pointer;
		}
	}
}
